/* .button-group {
    margin: 2%;
    height: 30px;
} */

.img-fluid {
    position: absolute;
}
/* .btn-warning {
    float: left;
}

.btn-secondary{
    float: right;
} */

.card {
    margin: 2%;
    min-width: 150px;
    max-width: 350px;
}

#start {
    width: 100%;
}


.bg-warning {
    background-color: yellow;
}
#instuctions {
 height: 40px;
 background-color: black;
 position: relative;
 z-index: 5;
}
#playerAttack{
    background-color: white;
    position: relative;
    z-index: 5;
    color: black;
   
}

#cpuAttack{
    background-color: white;
    position: relative;
    z-index: 5;
    color: black;
}



@media(min-width: 500px){
    #offence{
        max-width: 50%;
        float: left;
    }
    #defence{
        max-width: 50%;
        float: left;
    }
}
    @media(min-width: 700px){
    #playerAttack{
        width: 50%;
    }

    #cpuAttack{
        width: 50%;
    }

}

/* #offence .Hp {
    font-size: 300%
} */